#wrapper {
	background: #3366ff;
}

#header {
	text-align: center;
	background: #3366ff;
}

#main {
	background: #3366ff;
}

#nav {
	background: #99ccff;
}

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#nav a {
	display: block;
	text-decoration: none;
}

#nav a:hover {
	background: #3366ff;
}

#nav img {
	border: 0;
}

#content {
	background: #3366ff;
}

.itembox {
	background: #3366ff;
	display: block;
}

.boxheader {
	text-align: center;
	background: #3366ff;
	border: 2px solid #99ccff;
	background: #99ccff;
	border: 1px solid black;
	margin-top: 5px;

	font-family:'Times New Roman',Times,serif;
	font-size: 200%;
}

.boxcontent {
	background: #99ccff;
	padding: 5px;
}

.postsubject {
	text-align: left;
}

.postdate {
	text-align: right;
}

div.leftright{
	position: relative;
	height: 20px;
}
div.left {
	text-align: left;
	display: block;
	float: left;
}

div.right {
	text-align: right;
	display: block;
	float: right;
}

section#social {
}
section#facebook {
	width: 100%;
	border: 1px solid green;
}

ul#twitter-anti666 {
	list-style-type: none;
	padding-left: 0;
	display: block;
	border: 1px solid green;
	background: #99ccff;
}

ul#twitter-anti666 li {
}

ul#twitter-anti666 span {
	border: 1px solid green;
	display: block;
}

ul#twitter-anti666 a {
	position: relative;
}

ul#twitter-anti666 a span {
	display: none;
}

ul#twitter-anti666 a:hover span {
	display: block;
	position: absolute;
	bottom: 15px;
	right: 15px;
	padding: 2px;
	margin: 2px;
	z-index: 100;
	text-align: center;
	text-decoration: none;
	border: 1px solid #3366ff;
	background: #99ccff;
	xxxwidth: 300px;
}

