#nav {
	background: #99ccff;
}

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#nav a {
	display: block;
	text-decoration: none;
}

#nav a:hover {
	background: #3366ff;
}

#wrapper {
	background: #3366ff;
}

#header {
	text-align: center;
}

#content {
}

