---
layout: default
title: Anti's World - Welcome
---

<article class="itembox">
	<div class="boxheader">
		Info
	</div>
	<div class="boxcontent">
		This is just my (=anti's) homepage. Nothing fancy here.<br>
		I just use it to test new stuff;<br>
		And keep myself uptodate of what I'm up to.<br>
		(Just playing with CVS -> GIT....)<br>
	</div>
</article>

<article class="itembox">
	<div class="boxheader">
		Cams
	</div>
	<div class="boxcontent">
		<a href="/home/cam1.jpg"><img src="/home/minicam1.jpg" alt="1 - Living Room" width="88" height="72"></a><br>
	</div>
</article>

{% for item in paginator.posts %}
{% include item_post.html %}
{% endfor %}

<article class="itembox">
	<div class="boxheader">
		More...
	</div>
	<div class="boxcontent">
	<div class="leftright">
	<div class="left">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a class="pagination newer" href="/" title="newer">&larr; Newer Entries </a>
		{% else %}
			<a class="pagination older" href="/page{{ paginator.previous_page }}/index.html" title="newer">&larr; Newer Entries</a>
		{% endif %}
	{% endif %}
	&nbsp;
	</div>
	<div class="right">
	{% if paginator.next_page %}
		<a class="pagination" href="/page{{ paginator.next_page }}/index.html" title="older">Older Entries &rarr;</a>
	{% endif %}
	</div>
	</div>
	</div>
</article>


