---
layout: default
title: Anti's World - Welcome
---

<article class="itembox">
	<div class="boxheader">
		Info
	</div>
	<div class="boxcontent">
		This is just my (=anti's) homepage. Nothing fancy here.<br>
		I just use it to test new stuff;<br>
		And keep myself uptodate of what I'm up to.<br>
		(Just playing with CVS -> GIT....)<br>
	</div>
</article>

<article class="itembox">
	<div class="boxheader">
		Cams
	</div>
	<div class="boxcontent">
		<a href="home/cam1.jpg"><img src="home/minicam1.jpg" alt="1 - Living Room" width="88" height="72"></a><br>
	</div>
</article>

{% for item in site.posts limit:6 %}
{% include item_post.html %}
{% endfor %}

<article class="itembox">
	<div class="boxcontent">
		more/older <a href="events/">news and events</a>
	</div>
</article>


