<article class="itembox">
	<div class="boxheader">
		<span class="postsubject"><a href="{{ item.url }}">{{ item.title }}</a></span><br />
		<span class="postdate">Posted on {{ item.date | date_to_long_string }}</span>
	</div>
	<div class="boxcontent">
		<table>
		<tr>
		<td>
			<a href="/images/SHOTS/full_shot_{{ item.shot }}">
			<img src="/images/SHOTS/thumb_shot_{{ item.shot }}" />
			</a>
		</td>
		<td>
			&nbsp;
			{% if item.content %}
			{{ item.content }}
			{% else %}
			{{ content }}
			{% endif %}
		</td>
		</tr>
		</table>
	</div>
</article>
