<article class="itembox">
	<div class="boxheader">
	{% if item %}
		<span class="postsubject"><a href="{{ item.url }}">{{ item.title }}</a></span><br/>
		<span class="postdate">Posted on {{ item.date | date_to_long_string }}
		{% if item.time %}
		at {{ item.time }}
		{% endif %}
		</span>
	{% else %}
		<span class="postsubject"><a href="{{ page.url }}">{{ page.title }}</a></span><br/>
		<span class="postdate">Posted on {{ page.date | date_to_long_string }}
		{% if page.time %}
		at {{ page.time }}
		{% endif %}
		</span>
	{% endif %}
	<div>
	{% if _facebookShare %}
	{{ _facebookShare }}
	{% endif %}
	</div>
	</div>
	<div class="boxcontent">
	{% if item.content %}
		{% if item.shot %}
			<a href="/images/SHOTS/full_shot_{{ item.shot }}">
			<img src="/images/SHOTS/thumb_shot_{{ item.shot }}" />
			</a>
		{% endif %}
	{{ item.content }}
	{% else %}
		{% if page.shot %}
			<a href="/images/SHOTS/full_shot_{{ page.shot }}">
			<img src="/images/SHOTS/thumb_shot_{{ page.shot }}" />
			</a>
		{% endif %}
	{{ content }}
	{% endif %}
	<div class="social">
	{% if item %}
		<span class="postsubject"><a href="{{ item.url }}">{{ item.title }}</a></span><br/>
		<span class="flattr">
			<script type="text/javascript">
			var flattr_url = 'http://anti.cute-ninjas.com{{ item.url }}';
			var flattr_btn = 'compact';
			var flattr_uid = '17336';
			var flattr_tle = 'Anti\'s World';
			var flattr_dsc = 'Personal Blog of a totally insane tech guru.';
			var flattr_cat = 'text';
			var flattr_lng = 'en_GB';
			var flattr_tag = 'tech, linux, web, games, social, brag';
			</script>
			<script src="http://api.flattr.com/button/load.js" type="text/javascript"></script>
		</span>
	{% else %}
		<span class="flattr">
			<script type="text/javascript">
			var flattr_url = 'http://anti.cute-ninjas.com{{ page.url }}';
			var flattr_btn = 'compact';
			var flattr_uid = '17336';
			var flattr_tle = 'Anti\'s World';
			var flattr_dsc = 'Personal Blog of a totally insane tech guru.';
			var flattr_cat = 'text';
			var flattr_lng = 'en_GB';
			var flattr_tag = 'tech, linux, web, games, social, brag';
			</script>
			<script src="http://api.flattr.com/button/load.js" type="text/javascript"></script>
		</span>
	{% endif %}
	</div>
	<div class="related">
		<ul class="related">
	{% for post in site.related_posts limit:3 %}
		<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
		</ul>
	</div>
	<div>
	Comment:
	{% include disqus-comment.html %}
	
	{%if false %}
	{% if _facebookComment %}
	{{ _facebookComment }}
	{% endif %}
	{% endif %}
	</div>
	</div>
</article>
