<ul>
	<li><img src="/images/button-anti.png" alt="">
		<ul>
			<li><a href="/index.html"><img src="/images/item-welcome.png" alt=""></a></li>
			<li><a href="/events/"><img src="/images/item-news.png" alt=""></a></li>
		</ul>
	</li>
	<li><img src="/images/button-projects.png" alt="">
		<ul>
			<li><a href="/projects/stoned/index.html"><img src="/images/item-stoned.png" alt=""></a></li>
			<li><a href="/projects/gkrellMMSi/index.html"><img src="/images/item-gkrellMMSi.png" alt=""></a></li>
		</ul>
	</li>
	<li><img src="/images/button-pictures.png" alt="">
		<ul>
			<li><a href="/SHOTS/index.html"><img src="/images/item-screen_shots.png" alt=""></a></li>
<!--
			<li><a href="/photos/index.html"><img src="/images/item-photos.png" alt=""></a></li>
-->
		</ul>
	</li>
<!--
	<li><img src="/images/button-gadgets.png" alt="">
		<ul>
			<li><a href="/gadgets/visor/index.html"><img src="/images/item-visor.png" alt=""></a></li>
			<li><a href="/gadgets/empeg/index.html"><img src="/images/item-empeg.png" alt=""></a></li>
		</ul>
	</li>
-->
	<li><img src="/images/button-links.png" alt="">
		<ul>
			<li><a href="http://slashdot.org/"><img src="/images/item-slashdot.png" alt=""></a></li>
			<li><a href="http://www.freshmeat.net/"><img src="/images/item-freshmeat.png" alt=""></a></li>
			<li><a href="http://www.linux-history.org/"><img src="/images/item-linux-history.png" alt=""></a></li>
			<li><a href="http://www.thebus.de/"><img src="/images/item-thebus.png" alt=""></a></li>
		</ul>
	</li>
</ul>
