<ul id="twitter-anti666">
<li><span class="when">05 Feb 12:29</span>RT @ShinenGames: &quot;Art of Balance&quot; Trailer video now online. US-Release: Feb 15, 2010; 800 Wii Points. <a href="http://art-of-balance.shinen.com">&#x2197;<span>http://art-of-balance.shinen.com</span></a>
<li><span class="when">05 Feb 10:18</span>@pixelcatcher: Baut euch doch mal so ein Setup: <a href="http://bit.ly/9oF5Uv">&#x2197;<span>http://bit.ly/9oF5Uv</span></a> Ich hätte Lust auf einen High-Speed-Outdoor-Workshop.
<li><span class="when">04 Feb 14:55</span>Das Leben ist kein Wunschkonzert. <a href="http://bit.ly/aN6C27">&#x2197;<span>http://bit.ly/aN6C27</span></a> Ist es traurig wenn eine Biografie so lustig ist? Nein!
<li><span class="when">04 Feb 13:59</span>One Button Bob. (<a href="http://bit.ly/arZvAS)">&#x2197;<span>http://bit.ly/arZvAS)</span></a> The essence of aztec challenge. One brownie point for #flash.
<li><span class="when">04 Feb 13:36</span>@haschmir: die betonung lag auf &quot;bestückt&quot;. Oder machst du mir das?
</ul>
