<!doctype html>
<html lang=en>
	<head>
		<meta charset=utf-8>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/css/text.css" />
		<link rel="stylesheet" href="/css/960.css" />
		<link rel="stylesheet" href="/css/anti.css" />
	</head>
<body>
	<div id="wrapper" class="container_12">
		<header id="header" class="grid_12">
			<img src="/images/anti.png" alt="">
		</header>
		<section id="main" class="grid_12">
			<section id="nav" class="grid_3 alpha">
				<ul>
					<li><img src="/images/button-anti.png" alt="">
						<ul>
							<li><a href="/index.html"><img src="/images/item-welcome.png" border="0" alt=""></a></li>
							<li><a href="/events/"><img src="/images/item-news.png" border="0" alt=""></a></li>
						</ul>
					</li>
					<li><img src="/images/button-projects.png" alt="">
						<ul>
							<li><a href="/projects/stoned/index.html"><img src="/images/item-stoned.png" border="0" alt=""></a></li>
							<li><a href="/projects/gkrellMMSi/index.html"><img src="/images/item-gkrellMMSi.png" border="0" alt=""></a></li>
						</ul>
					</li>
					<li><img src="/images/button-pictures.png" alt="">
						<ul>
							<li><a href="/SHOTS/index.html"><img src="/images/item-screen_shots.png" border="0" alt=""></a></li>
							<li><a href="/photos/index.html"><img src="/images/item-photos.png" border="0" alt=""></a></li>
						</ul>
					</li>
					<li><img src="/images/button-gadgets.png" alt="">
						<ul>
							<li><a href="/gadgets/visor/index.html"><img src="/images/item-visor.png" border="0" alt=""></a></li>
							<li><a href="/gadgets/empeg/index.html"><img src="/images/item-empeg.png" border="0" alt=""></a></li>
						</ul>
					</li>
					<li><img src="/images/button-scene.png" alt="">
						<ul>
							<li><a href="/scene/"><img src="/images/item-intro.png" border="0" alt=""></a></li>
							<li><a href="/scene/history/"><img src="/images/item-history.png" border="0" alt=""></a></li>
							<li><a href="/scene/members.html"><img src="/images/item-members.png" border="0" alt=""></a></li>
							<li><a href="/scene/productions/"><img src="/images/item-productions.png" border="0" alt=""></a></li>
						</ul>
					</li>
					<li><img src="/images/button-links.png" alt="">
						<ul>
							<li><a href="http://slashdot.org/"><img src="/images/item-slashdot.png" border="0" alt=""></a></li>
							<li><a href="http://www.freshmeat.net/"><img src="/images/item-freshmeat.png" border="0" alt=""></a></li>
							<li><a href="http://www.linux-history.org/"><img src="/images/item-linux-history.png" border="0" alt=""></a></li>
							<li><a href="http://www.thebus.de/"><img src="/images/item-thebus.png" border="0" alt=""></a></li>
						</ul>
					</li>
				</ul>


				{% include 'menu.html' %}
			</section>
			<section id="content" class="grid_9 omega">
				<div>
					{{ content }}
				</div>
			</section>
		</section>
	</div>
</body>
<!--
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/anti.css" type="text/css" media="screen, projection" />

    <meta name="description" content="This is anti's personal homepage.">
    <meta name="keywords" content="anti,personal,linux,games,photos,screenshots">
  </head><body>
<div class="body">
<table width="880" bgcolor="#3366ff" cellpadding="0" cellspacing="0" border="0" summary="">
<tr><td align="center" valign="middle" width="100%"><img src="/images/anti.png" alt="" width="600" height="80"></td></tr></table>

<table width="880" bgcolor="#3366ff" cellpadding="2" cellspacing="0" border="0" summary=""><tr>
<td align="center" valign="top" width="180">

</td>
<td align="center" valign="top" width="696">

{{ content }}

</td></tr></table></td></tr></table>

<p>

<div align="right">
<strong>site owned and designed by anti</strong>
</div>
</div>

  </body>
</html>



-->
