<!doctype html>
<html lang=en>
	<head>
		<meta charset=utf-8>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/css/text.css" />
		<link rel="stylesheet" href="/css/960.css" />
		<link rel="stylesheet" href="/css/anti.css" />
		<title>{{ page.title }}</title>
	</head>
<body>
	<div id="wrapper" class="container_16">
		<header id="header" class="grid_16">
			<img src="/images/anti.png" alt="">
		</header>
		<section id="main" class="grid_16">
			<section id="nav" class="grid_3 alpha">
				{% include menu.html %}
			</section>
			<section id="content" class="grid_10">
				<div>
					{{ content }}
				</div>
			</section>
			<section id="content" class="grid_3 omega">
				{% include social.html %}
			</section>
		</section>
	</div>
	{% comment %}
	{% include disqus-comment-script.html %}
	{% endcomment %}

</body>
